What is the advantage of "health" command and response vs. WebSocket ping-pong?

Compare: [WebSocket Transport - Heartbeats](https://github.com/AMWA-TV/nmos-event-tally/blob/connection-lost/docs/5.2.%20Transport%20-%20Websocket.md#41-heartbeats)

With: [Writing WebSocket servers - Pings and Pongs: The Heartbeat of WebSockets](https://developer.mozilla.org/en-US/docs/Web/API/WebSockets_API/Writing_WebSocket_servers#Pings_and_Pongs_The_Heartbeat_of_WebSockets)

Spec: [RFC 6455 Section 5.5.2-3](https://tools.ietf.org/html/rfc6455#section-5.5.2)


I would say the biggest difference is that the "custom" health messages are not constrained by the size (125 bytes) and the fact that you can reply with a different content, which could be used e.g. for latency measurements (providing a common precise clock is available). I am not sure if that was considered when the messages were introduced, but it might be good enough reason to keep the current model (we can't just port them to ping-pong due to the constraints above).

Thanks, Miroslav, useful to have those possible rationales.